.footer{
    background-image: url("../images/why-bg.png");
    background-color: #dcedfe;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 70px 0px;
    background-attachment: fixed;
}