@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.top-header {
  padding: 18px 30px;
  background-color: #0152a8;
}
.top-header p {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0px;
}

.navbar {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.navbar .navbar-brand img {
  width: 70%;
}
.navbar .nav-item {
  margin: 0px 10px;
}
.navbar .nav-item .nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.navbar .nav-item .nav-link:hover {
  color: #528AC8;
}

.banner-wrapper {
  background: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 80px 0px;
  display: flex;
  align-items: center;
}
.banner-wrapper .banner-content .sub-title {
  background: #0fe3af;
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid #cecece;
}
.banner-wrapper .banner-content .sub-title h6 {
  font-size: 17px;
  margin-bottom: 0px;
  letter-spacing: 3px;
}
.banner-wrapper .banner-content .heading {
  margin: 13px 0px;
}
.banner-wrapper .banner-content .heading h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}
.banner-wrapper .banner-content P {
  color: #1c1c1c;
  font-weight: 500;
}

.about-section {
  background: url("../images/about_bg.png.webp");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50% 90%;
  padding-bottom: 90px;
}
.about-section .about_us_text h6 {
  color: #528AC8;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}
.about-section .about_us_text h2 {
  font-size: 50px;
  font-weight: 700;
}
.about-section .about_us_text p {
  font-weight: 500;
  margin: 30px 0px;
}

.awesome_health {
  padding: 80px 0px;
}
.awesome_health h2 {
  font-size: 40px;
  font-weight: 600;
}
.awesome_health p {
  font-size: 18px;
  font-weight: 500;
}

.our-services {
  padding: 10px 0px 60px 0px;
}
.our-services .top-heading {
  margin: 25px 0px;
}
.our-services .top-heading h2 {
  font-size: 50px;
  font-weight: 700;
}
.our-services .top-heading h6 {
  font-size: 20px;
  font-weight: 700;
}
.our-services .single_feature_part {
  margin-top: 50px;
}
.our-services .single_feature_part h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
.our-services .single_feature_part p {
  font-size: 16px;
}

.online-consultations {
  background: url("../images/online-consultation-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.online-consultations .content {
  text-align: center;
}
.online-consultations .content h2 {
  color: #fff;
  font-size: 40px;
  line-height: 55px;
}
.online-consultations .content button {
  background: #0FE3AF;
  color: #000;
  padding: 15px 40px;
  font-weight: 600;
  margin-top: 15px;
}

.ineventory {
  background-color: #fff;
  padding: 50px 0px;
}
.ineventory h3 {
  font-size: 35px;
  font-weight: 800;
}
.ineventory p {
  margin: 30px 0px;
  font-weight: 500;
}

.why-choose-section {
  background-image: url("../images/why-bg.png");
  background-color: #dcedfe;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px 0px;
  background-attachment: fixed;
}
.why-choose-section .section-title-wrap h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 20px 0px;
}
.why-choose-section .section-title-wrap p {
  font-weight: 500;
}
.why-choose-section .section-title-wrap .section-sub-title-wrap {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #cecece;
}
.why-choose-section .section-title-wrap .section-sub-title-wrap .section-sub-title-content {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
  letter-spacing: 4px;
}
.why-choose-section .choosing-points-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.why-choose-section .choosing-points-flex .choosing-list-wrap {
  display: flex;
  align-items: flex-start;
}
.why-choose-section .choosing-points-flex .choosing-list-wrap p {
  margin-left: 15px;
  color: #0152a8;
  font-weight: 500;
}

.footer {
  background-image: url("../images/why-bg.png");
  background-color: #dcedfe;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px 0px 20px 0px;
  background-attachment: fixed;
}
.footer .footer_head {
  padding-bottom: 50px;
}
.footer .third-wrapper ul {
  padding-left: 0px;
  margin-top: 30px;
}
.footer .third-wrapper ul li {
  margin: 5px 0px;
}
.footer .third-wrapper ul li a {
  color: black;
}
.footer .second-wrapper ul {
  padding-left: 0px;
  margin-top: 30px;
}
.footer .second-wrapper ul li {
  margin: 5px 0px;
}
.footer .second-wrapper ul li a {
  color: black;
}
.footer .first-wrapper p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.footer .footer_last {
  font-weight: 500;
}

body {
  font-family: "Quicksand", sans-serif !important;
}

p {
  margin-bottom: 15px;
  color: #424242;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

button {
  border: none;
}

.containe-btn {
  border: none;
  background: #528AC8;
  padding: 10px 45px;
  font-weight: 500;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #0152A8;
}

.text-light-blue {
  color: #87CEEB;
}

.text-grey {
  color: #5A5A5A;
}/*# sourceMappingURL=style.css.map */